.container {
    margin-top: 100px;
}

.has-error {
    display: none;
    right: 15px;
    position: absolute;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

#pDisplay {
    overflow-y: scroll; 
    height:500px; 
    border: 1px solid #ccc; 
    padding: 25px;
}